<header class="nav">
  <div class="nav__inner">
    <a class="nav__logo" href="#" data-relative="index.html">
      <div class="nav__logo-icon" aria-hidden="true">
        <img src="../assets/UMich_Logo.png" alt="University of Michigan Logo" />
      </div>
      <div class="nav__logo-text">
        <p class="nav__title">RobustNet Group</p>
        <p class="nav__subtitle">University of Michigan</p>
      </div>
    </a>
    <button class="nav__toggle" aria-label="Toggle navigation">
      <span></span>
      <span></span>
    </button>
    <nav class="nav__links">
      <a href="#" data-relative="index.html">About</a>
      <a href="#" data-relative="pages/people.html">People</a>
      <a href="#" data-relative="pages/news.html">News</a>
      <a href="#" data-relative="pages/publications.html">Publications</a>
      <a href="#" data-relative="pages/teaching.html">Teaching</a>
    </nav>
  </div>
</header>